{% extends "generator/base.html" %}
{% block content %}
<div class="container text-center">
<body>
<h1>ABOUT</h1>
    <blockquote>
    <br><h3>This site is intended for those users who cannot come up with a password or passwords for their own needs, such as:
        social networks, video games, etc.

        All information about your generated passwords is strictly confidential and protected.
        Be careful every time you reload the page,
        the generated password is lost forever, so if this password suits you, save it to yourself or send it to your mail to save.
        Thank you for using our service.
</h3></blockquote>
<h2>{{ about_site_dict }}</h2>
</body>
</div>
{% endblock content %}
