{% extends "generator/base.html" %}
{% block content %}
<div class="container text-center">
<h1>Password Generator</h1>
<form action="{% url 'password' %}">
    <select name="lenght">
        <option value="10">10</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15" selected="selected">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
    </select> Lenght
    <br>
    <input type="checkbox" name="uppercase">Uppercase
    <br>
    <input type="checkbox" name="numbers">Numbers
    <br>
    <input type="checkbox" name="special">Special Characters
    <br>

    <p><input type="submit" value="Generated Password" class="btn btn-primary"></p>
</form>
</div>
{% endblock content %}
